<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{bootstrap-3.3.5-dist/dist/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap-3.3.5-dist/dist/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{http_code.jquery.com_jquery-3.1.1.js}" type="text/javascript"></script>
    <script th:src="@{bootstrap-3.3.5-dist/dist/js/bootstrap.min.js}"></script>
</head>
<body>

<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}"></span>
    </div>
    <div th:if="${not #lists.isEmpty(people)}">
        <div class="panel panel-primary">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="panel-group">
                <li class="list-group-item" th:each="person:${people}">
                    <span th:text="${person.name}"></span>
                    <span th:text="${person.age}"></span>
                    <button class="btn" th:onclick="'getName(\''+${person.name}+'\')'">获得名字</button>
                </li>
            </ul>
        </div>

    </div>
</div>

<script th:inline="javascript">
    var single=[[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {

        console.log(name);

    }
</script>
</body>

</body>
</html>